<launch>
  <!-- load gazebo
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find gazebo_description)/worlds/Allocation_Map.world"/>
    <arg name="verbose"      default="true"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="gui"          default="true"/>
    <arg name="headless"     default="false"/>
    <arg name="debug"        default="false"/> 
    <arg name="paused"       default="false"/>
  </include> -->

  <!--load control terminal-->
  <node name="control_terminal" pkg="control_terminal" type="control_terminal_node" output="screen" required="true">
     <param name="robots_num"  value="0"  />
  </node>

  <node name="terminal_talker_node" pkg="allocation_gazebo" type="terminal_talker_node" output="screen" required="true">
     <param name="robots_num"  value="0"  />
  </node>

  <node name="dta_terminal_udp_client" pkg="dta_terminal_udp" type="dta_terminal_udp_client" output="screen" required="true">
  </node>

  <node name="dta_terminal_udp_server" pkg="dta_terminal_udp" type="dta_terminal_udp_server" output="screen" required="true">
  </node>

  <!-- <node name="dta_local_udp_client" pkg="dta_terminal_udp" type="dta_local_udp_client" output="screen" required="true">
  </node> -->

</launch>


